<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{ 'app.title' | trans }}</title>
    <link href="{{ asset('assets/vendor/bootstrap-4.3.1/css/bootstrap.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('assets/vendor/datatable/datatables.min.css') }}" rel="stylesheet" media="all">

    {% block css %}{% endblock %}
</head>
<body class="bg-info">
<div class="container-fluid">
    <div class="mt-3 text-center"><h2>{% block title %}{% endblock %}</h2></div>
    {% include '@App/modal.html.twig' %}
    {#ALERT#}
    {% include '@App/alert.html.twig' %}
    {#END ALERT#}
    <div class="col-md-12 order-md-1">
            <div class="card">
                <div class="card-header">
                    <h3>{% block card_header %}{% endblock %}</h3>
                </div>
                <div class="card-body">
                    {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
</div>
<script src="{{ asset('assets/vendor/jquery-3.4.1.min.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap-4.3.1/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/vendor/datatable/datatables.min.js') }}"></script>
{% block script %}{% endblock %}
</body>
</html>